
$primary-color:#0A6CF5;
// $secondary-color:"var(--color-secondary)";
// $white-color: "var(--color-bg)";
// $black-color: "var(--color-text)";
// $gray-color: "var(--color-main-gray)";
// $hover-gray: "var(--color-hover-gray)";
// $gray-background: "var(--color-gray-background)";
// $danger-color: "var(--color-danger-color)";
// $success-color: "var(--color-success-color)";
// $primary-color: #0A6CF5;
$secondary-color: #F5A711;
$white-color: #ffffff;
$black-color: #302A2A;
$gray-color: #9b9b9b;
$hover-gray: #e3e6e8;
$gray-background: #bbbbbb3e;
$danger-color: #eb756e;
$success-color: #50a250;

@import "./index";

:export {
    secondaryColor: $secondary-color;
    primaryColor: $primary-color;
}